*.fits
bin/gyoto
*.lo
*.o
ywrap.c
Makefile
autom4te.cache
.libs
config.log
config.status
doc/html/
doc/latex
*.la
.deps
*.pc
*.so
*~
libtool
config.h
include/GyotoConfig.h
include/stamp-h2
stamp-h1
yorick/stdplug/polishfit.i
