*.fits
./gyoto
bin/gyoto
*.lo
*.o
ywrap.c
Makefile
autom4te.cache
.libs
config.log
config.status
doc/html/
doc/latex
*.la
.deps
*.pc
*.so
*~
libtool
config.h
include/GyotoConfig.h
include/stamp-h2
stamp-h1
yorick/stdplug/polishfit.i
yorick/yorick
yorick/setpaths.i
yorick/gyoto.info
yorick/yorick1
doc/user_guide/GyotoManual.aux
doc/user_guide/GyotoManual.bbl
doc/user_guide/GyotoManual.blg
doc/user_guide/GyotoManual.log
doc/user_guide/GyotoManual.out
doc/user_guide/GyotoManual.pdf
doc/user_guide/GyotoManual.toc
